{% extends 'base.html' %}
{% load static %}

{% block title %}Update Password{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card w-50 mx-auto custom-bg-color-dark-transparent py-5">
        <h2 class="text-center">Update Your Password</h2>
        <div class="card-body">
            <form method="POST" class="form-group">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <div class="text-center">
                    <button type="submit" class="btn custom-bg-color-dark">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
