{% extends 'base.html' %}
{% load static %}

{% block title %}Password Changed{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card w-50 mx-auto custom-bg-color-dark-transparent py-5">
        <div class="card-body text-center">
            <h1>The password has been changed!</h1>
            <p>Your password has been successfully updated.</p>
            <a href="{% url 'auth:login' %}" class="btn custom-bg-color-dark">Log in Again?</a>
        </div>
    </div>
</div>
{% endblock %}
