{% extends 'base.html' %}
{% load static %}

{% block title %}Password Changed{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card w-50 mx-auto custom-bg-color-dark-transparent py-5">
        <div class="card-body text-center">
            <h2>Password Changed Successfully!</h2>
            <p>Your password has been successfully updated.</p>
            <a href="{% url 'user:my-profile' %}" class="btn custom-bg-color-dark">Go to Profile</a>
        </div>
    </div>
</div>
{% endblock %}
