{% extends 'base.html' %}
<title>{% block title %}Home{% endblock %}</title>

{% block content %}
    <div class="container pt-5">
        <p class="h1">Welcome to y StegaLog!</p>
        <p class="h3">This is the home page.</p>
        {% if user.is_authenticated %}
            <div class="container-fluid pt-md-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'steganography:encoding' %}">Encode image</a></li>
                    <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'steganography:decoding' %}">Decode image</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}