{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-3 text-center">Welcome to StegaLog!</h1>
    <p class="lead text-center">This is the home page where you can start your journey with us.</p>

    {% if user.is_authenticated %}
    <div class="text-center mt-4">
        <a class="btn custom-bg-color-dark btn-lg" href="{% url 'steganography:encoding' %}" role="button">Encode Image</a>
        <a class="btn custom-bg-color-dark-transparent" href="{% url 'steganography:decoding' %}" role="button">Decode Image</a>
    </div>
    {% endif %}
</div>
{% endblock %}
